@page "/getintouch"

<div class="text-center my-5 ">
    <div class="display-6 border-bottom">Contact</div>
    <div class="lead mt-5">
        <i class="fa fa-phone bg-secondary text-white p-3  rounded-5 my-3"></i>
        <p>
            ALO 120 Store App bilgi ve destek hattı
        </p>
        <i class="fa-solid fa-address-book bg-secondary text-white p-3  rounded-5 my-3"></i>
        <p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24987.72346563765!2d42.1495649!3d38.4769009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x400d3adeffb36fbd%3A0x43d001201bcf31ee!2sBitlis%20Eren%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1658390124291!5m2!1str!2str" width="" height="" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </p>
        <p>
            Beş Minare Mah., Rahva Yerleşkesi, 13000 Bitlis
        </p>

        <i class="fa-solid fa-envelope bg-secondary text-white p-3  rounded-5 my-3"></i>
        <p>
            destek@storeapp.gov.tr
        </p>
    </div>
</div>